body {
    background-color: #79A0B7;
    height: auto;
    width: auto;
    clear: both;
    background-size: auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .main-logo {
    /* MedradarLogo */
    position: absolute;
    width: 549px;
    height: 126px;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .main-doctors {
    /* MedradarLogo */
    position: absolute;
    width: 370.5px;
    height: 358.5px;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .main-h2 {
    /* Conectando voce a sua saude! */
    position: absolute;
    width: 730px;
    height: 59px;
    left: 42%;
    top: 70%;
    transform: translate(-50%, -50%);
    text-decoration: none;
  
    font-family: Archivo, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    /* or 86% */
    letter-spacing: 0.05em;
  
    color: #08082D;
  }
