.main-doctor {
    /* Online Doctor-bro 1 */
    position: absolute;
    width: 250px;
    height: 250px;
    left: 0px;
    bottom: 0px;
}

.doctor-logo {
    /* MedradarLogo */
    /*position: absolute;
    left: 40%;*/
    top: 10%;
    width: 400px;
    height: 92px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px; 
}

.forms-block { 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 100%;
    margin: 0 auto;
}

.forms-block label, input, select {
    display: inline-block;
}

.forms-block input {
    width: 100%;
}

.forms-block label{
    color: #08082D;
    font-family: Archivo, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;   
    letter-spacing: 0.05em;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

.forms-block input,select,option {
    border-color: #08082D;
    background-color: #F4F4F4;
    border: 2px solid #08082D;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px;
    font-family: Archivo, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 16px;
    line-height: 20px;
}

.forms-city {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}
.forms-city select {
    width: 100%;
}

.forms-city .cidade {
    width: 100%;
    padding-left: 20px;
}

.forms-block input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.uf select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.add-actions {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
    width: 450px;
    margin: 0 auto;
}

.add-actions button {
    background-color: whitesmoke;
    border-color: #08082D;
    border-radius: 8px;
    color: #08082D;
    font-family: Archivo, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 20px;
    height: 30px;
    width: 205px;
    margin: 0 20px;
}   

.add-actions button:hover{
    opacity: 70%;
    color: #102751;
}

.add-actions button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}
 
:-ms-input-placeholder {  
    text-align: center; 
}