.main-doctor {
    /* Online Doctor-bro 1 */
    position: absolute;
    width: 250px;
    height: 250px;
    left: 0px;
    bottom: 0px;
}

.doctor-logo {
    /* MedradarLogo */
    /*position: absolute;
    left: 40%;*/
    top: 10%;
    width: 400px;
    height: 92px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px; 
}

.forms-block { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 35%;
    padding-top: 30px;
    max-width: 500px;
}

.forms-block label{
    font-family: Archivo, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 24px;   
    line-height: 22px;
    color: #08082D;
    padding: 12px;
    justify-content: flex-end;
}

.forms-block input,select,option {
    border-color: #08082D;
    background-color: #F4F4F4;
    border: 2px solid #08082D;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    font-family: Archivo, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 20px;
    margin-left: 8px;
    width: 400px;
}

.forms-block input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
::-webkit-input-placeholder {
    text-align: center;
}

.nome input {
    width: 399px;
}

.especialidade input {
    width: 303px;
}

.convenio input {
    width: 357px;
}

.uf select {
    width: 64px;
    border-radius: 4px;
}

.uf select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.cidade input {
    width: 254px;
}

.endereco input {
    width: 355px;
}

.telefone input{
    width: 367px;
}

.email input {
    width: 392px;
}

.add-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 24px;
}

.add-actions button {
    font-family: Archivo, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 20px;
    width: 174px;
    border-radius: 8px;
    border-color: #08082D;
    color: #08082D;
    background-color: whitesmoke;
    height: 30px;
    margin-left: 40px;
}

.add-actions button:hover{
    opacity: 70%;
}

.add-actions button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

