#filter-result-container{
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #08082D;
    background-color: whitesmoke;
}

#filter-result-container button{
    margin-left: 2px;
    border-radius: 50%;
    width: 30px;
    border: 0;
    outline: 0;
    transition: opacity 0.2s;
}
#filter-result-container button svg{
    margin: 0;
}

#filter-result-container button:hover{
    background-color: #79A0B7;
    opacity: 70%;
}

#filter-result-container p{
    margin: 0 10px;
    font: 500 20px Archivo;
}