#filter-result-container{
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #08082D;
    background-color: whitesmoke;
}

#filter-result-container:nth-child(n+5){
    margin-top: 2px;
}  

#filter-result-container button{
    margin-right: 5px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    transition: opacity 0.2s;
    cursor: pointer;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-result-container button:hover{
    background-color: #79A0B7;
    opacity: 0.7;
}

#filter-result-container p{
    margin: 0 10px;
    font: 500 20px Archivo;
}

@media(max-width: 700px){
    #filter-result-container{
        margin-top: 5px;
    }
    #filter-result-container p{
        margin-bottom: 2px;
    }
}