#search-page{
    margin-top: 1%;
    margin-right: 8%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

#search-page header{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.search-intro{
    display: flex;
    justify-content: space-between;
}

.search-intro div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 45px;
    margin-bottom: 10px;
}
.search-intro div a{
    width: 32px;
}

.search-intro div a svg{
    color: #08082D;
    height: 40px;
    width: 100%;
    transition: opacity 0.2s;
}

.search-intro div a svg:hover{
    opacity: 40%;
}

.search-intro div img{
    width: 217px;
    height: 50px;
}

.search-intro img{
    width: 128px;
    height: 128px;
    margin-right: 70px;
}

.search-actions {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.search-actions svg{
    color: #08082D;
}

.search-actions .search-box{
    width: 286.5px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

.search-actions .search-box svg{
    margin-right: 10px;
    height: 22px;
}

.search-actions .search-box input{
    border-style: none;
    margin-left: 10px;
}

.search-actions .search-filters  > button, .search-actions .search-box{
    background-color: whitesmoke;
    color: #08082D;
    border-radius: 8px;
    border: 2px solid #08082D;
}

.search-actions .search-filters  button,.search-actions .search-box input{
    font: normal 18px Archivo;
    letter-spacing: 0.05em;
}

.search-actions .search-filters {
    position: relative;
    display: flex;
}

.search-actions .search-filters svg {
    margin-left: 5px;
    margin-top: 2px
}

.search-actions .search-filters > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 285px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.search-actions .search-filters button:hover{
    opacity: 75%;
}

.search-filters-results{
    display: flex;
}

#search-main{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90vh;
    grid-gap: 40px;
}

.search-map{
    height: 425px;
}

.search-result{
    height: 425px;
}

.search-result div {
    overflow: auto;
    background-color: whitesmoke;
    height: 100%;
    border-radius: 8px;
    border-color: #08082D;
    border-style: solid;
    border-width: 2px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #08082D;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #79A0B7;
    border-radius: 8px;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: #08082D;
    border-width: 2px;
}

.leaflet-popup-content-wrapper{
    border: 2px solid #08082D ;
    background-color: whitesmoke;
}

.leaflet-div-icon{
    border-radius: 50%;
    border: 2px solid #08082D;
}

/* Part of FILTER*/
#filters-container{
    position: absolute;
    top: 33px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    z-index: 999;
    border: #08082D solid 2px;

    display: flex;
    flex-direction: column;
}

#filters-container > button{
    height: 30px;
    background-color: #08082D;
    border:0;
    border-radius: 0;
    color: whitesmoke;
    font: bold 20px Archivo;
    transition: opacity 0.2s;
}

#filters-container > button:hover{
    opacity: 70%;
}
.input-radius{
    height: 50px;
    display: flex;
    margin: 2px 2px;
    border-bottom: 1px solid #08082D ;
}
.input-radius p{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.input-radius button{
    outline: 0;
    border: 0;
    width: 20%;
    height: 90%;
    margin: 0px 2px;
}

.input-radius button:hover{
    background-color: #79A0B7;
    opacity: 70%;
}

#input-specialty{
    border-bottom: 1px solid #08082D;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
}

#input-specialty select{
    border: 1px solid rgba(8,8,45,0.65) ;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    outline: 0;
}

#input-specialty select option{
    font: 500 16px Archivo;
}

#input-city{
    border-bottom: 1px solid #08082D;
    height: 50px;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#input-city select{
    border: 1px solid rgba(8,8,45,0.65) ;
    border-radius: 10px;
    width: 30%;
    height: 80%;
    outline: 0;
}

#input-city select + select{
    margin-left: 8px;
    width: 70%;
}

/* Config to others devices */
@media(max-width: 700px){
    
    #search-main{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
    .search-map{
        margin-bottom: 10px;
        height: 60vh;
    }

    .search-result{
        height: 20vh;
    }
    .search-intro div{
        width: 100%;
        margin: 0;
    }
    .search-intro div img{
        margin-right: 0;
        margin: 0 auto;
    }
    .search-intro > img{
        display: none;
    }
    .search-actions{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .search-actions div, button{
        margin-top: 4px;
    }
    .search-actions .search-filters{
        height: 30px;
    }
    .search-filters-results{
        justify-content: center;
        flex-wrap: wrap;
    }
    .leaflet-top{
        top: 350px;
    }
}   
